nav.navbar.navbar-default
  .container
    .navbar-header
      button.navbar-toggle
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand My Website
    .navbar-collapse
      ul.nav.navbar-nav
        li: a(data-ng-href='#/') Home
        li
          a(data-ng-href='#/questions') Question
        li
          a(data-ng-href="#/signup") Signup