
<div data-ng-controller="QuestionsCtrl">
  <div class="panel panel-primary">
    <dir-pagination-controls pagination-id="questions" template-url="/lib/pagination/dirPagination2.tpl.html" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
    <ul>
      <li pagination-id="questions" dir-paginate-start="question in questions | itemsPerPage: limit" total-items="total" current-page="page">
        <h2>{{question.word}}<small> {{question.pron}}</small></h2>
        <ul ng-repeat="def in question.definition">
          <li>{{def}}</li>
        </ul>
      </li>
      <hr dir-paginate-end="dir-paginate-end"/>
    </ul>
    <dir-pagination-controls pagination-id="questions" template-url="/lib/pagination/dirPagination2.tpl.html" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
  </div>
</div>